/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.agenda-row-file {
	min-width: 10rem;
	word-break: break-all;
	padding-right: 0.6rem !important;
	font-size: 0.9rem;
}

.agenda-row-time {
	min-width: 6rem;
}

.agenda-row-content {
	width: 20rem;
	padding-left: 0.6rem !important;
	min-width: 20rem;
}

.agenda-clickable {
	cursor: pointer;
}


.agenda-task-done {
	text-decoration: line-through;
}
